.parent{
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
}
.header{
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    
}
.input-wrapper{
    background-color: #FFFF;
    padding: 0 8px;
    display: flex;
    align-items: center;
    color: gray;
    border-radius: 8px;
}

.search{
    border: none;
    outline: none;
    padding: 8px;
    flex: 1;
    border-radius: 8px;
}
h1{
    color: #FFFF;
}
.weather-card{
    text-align: center;
    background-color: #f1f1f144;
    width: 100vw;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;

}
.info-icon{
    display: flex;
    flex-direction: column;
}
